# Sample Webapp at /apps/web
apps/web/node_modules/
apps/web/.next/
apps/web/out/
apps/web/.env.local
apps/web/.env.*



# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build output
/.next
/out

# Next.js static files
/public/static

# Next.js cache
/.next/cache

# Static Pages
/export

# Build output
/dist

# TypeScript
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Optional REPL history
.node_repl_history

# Output of 'yarn create next-app'
.yarn

# Mac system files
.DS_Store

# IDE specific files
.vscode
.idea

# Local environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

